.hourly-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    min-width: 6rem;
    border-right: 1px solid rgb(231, 231, 231);
    margin: 2em 0;
}
.hourly-forecast:first-child{
    border-left: 1px solid rgb(231, 231, 231);
}
.forecast-time{
    font-size: 1.2em;
    color:rgb(99, 99, 99)
}
.hour-forecast-weather-icon{
    max-width: 4em;
    margin: 0 auto;
}
.hour-forecast-temp, .hour-forecast-wind{
    font-size: 1.3em;
}
.mph{
    font-size: .5em;
}
